extends layout

block content

  h3.text-primary #{title}: #{author.name}
  p [ #{author.lifespan} ]

  div(style='margin-left:20px;margin-top:20px')

    h4.text-secondary Books:
    if author_books.length
      dl
        each book in author_books
          dt
            a(href=book.url) #{book.title}
          dd #{book.summary}
    else
      p #[strong This author has no books.]

  hr
  p
    a(href=author.url+'/delete') #[strong Delete author]
  p
    a(href=author.url+'/update') #[strong Update author]